# Database
MYSQL_DATABASE=wordpress
MYSQL_USER=XXXXXXXXXX
MYSQL_PASSWORD=XXXXXXXXXX
MYSQL_ROOT_PASSWORD=XXXXXXXXXX
MARIADB_PORT=3306

# WordPress
DOMAIN_NAME=jpaulis.42.fr
NGINX_PORT=443
PHP_FPM_PORT=9000
WP_TITLE=inception
WP_ADMIN_USER=XXXXXXXXXX
WP_ADMIN_PASSWORD=XXXXXXXXXX
WP_ADMIN_EMAIL=XXXXXXXXXX@example.com
WP_USER_USER=XXXXXXXXXX
WP_USER_PASSWORD=XXXXXXXXXX
WP_USER_EMAIL=XXXXXXXXXX@example.com
