# Domain
DOMAIN_NAME=jpaulis.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change_me_wp_password
MYSQL_ROOT_PASSWORD=change_me_root_password

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=supervisor
WP_ADMIN_PASSWORD=change_me_admin_password
WP_ADMIN_EMAIL=supervisor@example.com
WP_USER_USER=editor
WP_USER_PASSWORD=change_me_editor_password
WP_USER_EMAIL=editor@example.com
